<!DOCTYPE html>
<html lang="en">
<head>   
  <title>{{ subject }}</title>  
</head>
<body>
    <div id="f72h_author">
     Beste, Cher {{ username }}
    </div>
    <div id="f72h_content">
      <p>
        Ceci est un mail automatique généré par openjustice.be<br>
        Dit is een automatische e-mail gegenereerd door openjustice.be 
      </p>
      <hr />
      <p>
      Nous confirmons la bonne réception du document déposé, qui sera traité prochainement.<br>
        En attendant il vous est possible de le consulter temporairement à l'adresse suivante:
      </p>
      <p>
      We bevestigen de goede ontvangst van het ingediende document, dat binnenkort zal worden verwerkt.<br>
        In afwachting daarvan kunt deze ondertussen tijdelijk op het volgende adres: 
      </p>
      <p>
      <ul>
        <li><a href="{{ doc_domain }}/hash/{{ doc_hash }}">Version HTML / HTML versie</a></li>
        <li><a href="{{ doc_domain }}/d/pdf/{{ doc_hash }}">Version PDF / PDF Versie</a></li>
      </ul>
      </p>
    </div>     
    <hr />
    <div id="f72h_content">
      asbl - vzw OpenJustice.be<br>
      contact: <a href="malto:team@openjustice.be">team@openjustice.be</a><br>
      website: <a href="https://openjustice.be">https://openjustice.be</a>
    </div>
</body>
</html>
