<!DOCTYPE html>
<html lang="en">
<head>   
  <title>{{ subject }}</title>  
</head>
<body>
    <div id="f72h_author">
     Cher/Beste {{ username }}
    </div>
    <div id="f72h_content">
      <p>
        Ceci est un mail automatique généré par OpenJustice.be<br>
        Dit is een automatische e-mail gegenereerd door OpenJustice.be 
      </p>
      <hr />
      <p>
      Nous confirmons la publication du document {{ ecli }}.<br>
        Il vous est possible de le consulter à l'adresse suivante:
      </p>
      <p>
      We de publicatie van het document {{ ecli }}.<br>
        U kunt deze raadplegen op het volgende adres: 
      </p>
      <p>
      <a href="{{ doc_domain }}/html/{{ ecli }}">{{ doc_domain }}/html/{{ ecli }}</a>
      </p>
    </div>     
    <hr />
    <div id="f72h_content">
      asbl - vzw OpenJustice.be<br>
      contact: <a href="malto:team@openjustice.be">team@openjustice.be</a><br>
      website: <a href="https://openjustice.be">https://openjustice.be</a>
    </div>
</body>
</html>
